
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}




.nav{
      display: flex; 
      justify-content: space-around;
      width: 100%;
      padding-left:15% ;
      padding-right:15% ;
      
      font-size: large;
}
a{
    text-decoration: none;
    color: white;
    
}
.link{
    font-family: "Booter - Zero Zero";
    font-size: 45px;
}



.nav a:hover {
    background-color: rgb(255, 194, 224)
}

.main-header {
    background-color: pink;
    background-image: url("Images/banniere.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.logo-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.logo-name-large {
    font-size: 8em;
}
h2{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: palevioletred;
    margin-top: 30px;
}
.wel-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 550px;
    
}
.box-text{
    width: 50%;
    margin-left: 5%;
    
}
.wel-text{
color: dimgray;
font-family: "Booter - Zero Zero";
font-size: 35px;


}
.remarque{
    color: rgb(247, 64, 64);
    font-size: 30px;

}
.wel-img{

    width: 600px;
    height: 500px;
}
.lineimg{
    margin-top: 20px;
    margin-left: 15%;
    width: 1000px;
    height: 300px;
display: flex;
justify-content: space-between;
}
.boxx  {
    width: 30%;
    height: 100%;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.boxx:hover {
    transition: all 0.2s;
    box-shadow: 5px 5px 20px 2px gray;
}
.boximg{
    width: 100%;
    height: 80%;
    
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
    
}
.textimg{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
    

}
.bouton{
    font-size: 13px;
    color: white;
    border: 1px;
    background-color: royalblue;
    width: 160px;
    border-radius: 5px;
    text-align: center;
    height : 10%;
    margin-top: 35px;
    
    
}
.jbox{
    width: 540px;
    height: 540px;
    margin-left: 10%;
    
}
.img1{
    background-image: url(Images/Marshmallow.jpg);
    
}
.img2{
    background-image: url(Images/Nounours.jpg);
}
.img3{
    background-image: url(Images/star.jpg);
}
.img4{
    background-image: url(Images/fraise.jpg);
}
.img5{
    background-image: url(Images/coca.jpg);
}
.img6{
    background-image: url(Images/reglise.jpg);
}
.img7{
    background-image: url(Images/Jellybox.jpg);
}
.img8{
    background-image: url(Images/acidulé.jpg);
}
.img9{
    background-image: url(Images/billes.jpg);
}
.img10{
    background-image: url(Images/bouteille.jpg);
}
.img11{
    background-image: url(Images/Candy.jpg);
}
.img12{
    background-image: url(Images/caramel.jpg);
}
.img13{
    background-image: url(Images/scooby.jpg);
}
.img14{
    background-image: url(Images/fraise.jpg);
}
.img15{
    background-image: url(Images/Marshmallow.jpg);
}

.bdec{
    display: flex;
    width: 100%;
    height: 600px;
    
    justify-content: space-between;
}
.ligne{
    margin-top: 50px;
    height: 100%;
    width: 48%;
}
.commande {
    text-align: center;
    width: 70%;
    height: 70px;
    background-color: red;
    border-radius: 4px;
    margin-top: 100px;
    margin-left: 100px;
    
}
.centrer{
    padding-top: 15px;
    font-size: 22px;
}
.produit-titre{
    color: violet;
}
.produit-prix{
    color: violet;
}

.content-section {
    margin: 1em;
}

.container {
  display: flex;
  justify-content: space-around;
}
.content-section-panier {
    margin: 1em;
}

.container-panier {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color :palevioletred;
    text-align: center;
    font-size: 2.5em;
}

.main-footer {
    background-color: palevioletred;
    color: white;
    padding: .25em 0;
    margin-top: 100px;
}

.main-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.footer-nav  {
    width: 30px;
    height: 30px;
    
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}



.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}


.shop-item {
    margin: 30px;
}
.shop-item:hover {
    transition: all 0.2s;
    box-shadow: 5px 5px 20px 5px gray;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "Booter - Zero Zero";
    font-size: 42px;
    color:palevioletred;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}